In [2]:
#Importing libraries
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("./bankDataset/label_unlabel.csv")
df

/tmp/ipykernel_12420/1906054789.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./bankDataset/label_unlabel.csv")

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,54,technician,married,secondary,no,-315,no,yes,cellular,10,jul,2029,1,-1,0,unknown,yes
1,41,blue-collar,married,primary,no,0,yes,no,unknown,30,may,232,3,-1,0,unknown,no
2,58,admin.,divorced,secondary,no,74,yes,no,telephone,22,jul,514,11,-1,0,unknown,no
3,45,management,single,secondary,no,5993,no,no,cellular,2,jun,116,1,-1,0,unknown,no
4,33,management,married,tertiary,no,2071,no,no,cellular,8,aug,106,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,76,retired,married,tertiary,no,0,no,no,telephone,4,feb,92,3,169,1,failure,NaN
45207,29,blue-collar,single,primary,no,269,no,no,telephone,6,feb,40,1,-1,0,unknown,NaN
45208,59,retired,married,primary,no,4949,no,yes,unknown,12,jun,168,8,-1,0,unknown,NaN
45209,35,technician,divorced,secondary,no,2,no,no,unknown,3,jul,88,1,-1,0,unknown,NaN
45210,29,technician,married,secondary,no,444,yes,no,cellular,21,jul,130,4,-1,0,unknown,NaN